{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TopMap Solutions</title>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header class="grid">
    <h1>TopMap Solutions</h1>
    <nav>
      <a href="/">Book </a>
      <a href="/">Projects</a>
      <a href="/">About</a>
      <a id=contact href="/">Contact</a>
    </nav>
  </header>

  <main class="grid">
    <div class="content">
      <h1>Interactive and Collaborative Map Maker</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, eligendi.</p>
      <button class="demo">Demo</button>
      <button class="contact">Contact Us</button>
    </div>
  </main>

  <section class="grid" id="services">
    <div class="card">
      <span class="icon"><i class="fa-solid fa-desktop"></i></i></span>
      <h2>Custom Web GIS</h2>
      <p>Tailored mapping platforms designed for your industry.</p>
    </div>
    <div class="card">
      <span class="icon"><i class="fa-solid fa-chart-line"></i></i></i></span>
      <h2>Spatial Analytics</h2>
      <p>Transform raw location data into informative analytics.</p>
    </div>
    <div class="card">
      <span class="icon"><i class="fa-solid fa-cloud-arrow-up"></i></i></i></span>
      <h2>Cloud Deployment</h2>
      <p>Secure, scalable, and always available be available to everybody.</p>
    </div>
    <div class="card">
      <span class="icon"><i class="fa-solid fa-user-tie"></i></span>
      <h2>Consulting</h2>
      <p>Expert guidance to integrate GIS into your workflow.</p>
    </div>
  </section>

  <section class="grid" id="projects">
    <img src="{% static 'imgs/logo.jpg' %}" alt="project image">
    <div class="content">
      <h1>Interactive and Collaborative Map</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur tempore ex perspiciatis quis consectetur, quod illum dolore iusto illo dignissimos blanditiis nulla ab harum debitis commodi. Quam quo modi omnis!</p>
      <ul>
        <li>Data layers, filters, categories</li>
        <li>Data layers, filters, categories</li>
        <li>Data layers, filters, categories</li>
        <li>Data layers, filters, categories</li>
      </ul>
    </div>
  </section>

  <section id="mission">
    <p id="top-head">Our Mission</p>
    <h1>Create Value for your User with Amazing Map Application</h1>
    <p>Helping businesses grow, organizations succeed, and communities connect</p>
  </section>

  <section class="grid" id="tech-stack">
    <img src="{% static 'imgs/logo-leaflet.png' %}" alt="leaflet-logo">
    <img src="{% static 'imgs/logo-openlayer.png' %}" alt="openlayers-logo">
    <img src="{% static 'imgs/logo-geoserver.png' %}" alt="geoserver-logo">
    <img src="{% static 'imgs/logo-gdal.png' %}" alt="gdal-logo">
    <img src="{% static 'imgs/logo-postgis.png' %}" alt="postgis-logo">
    <img src="{% static 'imgs/logo-docker.png' %}" alt="docker-logo">
  </section>

  <footer class="grid">
    <div class="contact">
      <div class="footer-header">
        <img src="{% static 'imgs/logo.jpg' %}" alt="">
        <h1>Topmap solutions</h1>
      </div>
      <p>topmapsolutions@gmail.com</p>
      <button>demo</button>
    </div>
    <div class="products">
      <h1>Services</h1>
      <a href="/">Live Maps</a>
      <a href="/">Services</a>
    </div>
    <div class="company">
      <h1>Company</h1>
      <a href="/">Contact</a>
      <a href="/">About</a>
      <a href="/">Jobs</a>
    </div>
    <div class="rights">©2025 All rights reserved</div>
  </footer>
</body>
</html>