@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

/* ---------------- HEADER ---------------- */
header {
  display: grid; 
  padding: 5px 100px;
  background: #000470;
  margin: 0;
  align-items: center;
  gap: 15px;
}

header .brand {
   grid-column: 1 / span 6;
   display: flex;
   align-items: center;
   gap: 5px;
}

header .brand img {
  max-width: 80px;
  grid-column: 1;
  justify-self: end;
}

header .brand h1 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: bolder;
  justify-self: start
}

header nav {
  grid-column: 7 / span 6;
  justify-self: end;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-left: 15px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: transform 0.2s ease, background 0.3s ease;
}

header nav a:hover {
  color: #68d388;
}

header nav a#contact {
  background-color: #68d388;
  color: #000470;
  font-weight: 500;
}


/* ---------------- MAIN ---------------- */
main {
  padding: 130px 100px;
  background-color: #151988;
  text-align: center;
}

main .content {
  grid-column: span 12;
  align-content: center;
}

main .content h1 {
  font-size: 50px;
  color: #f06c00;
}

main .content p {
  font-size: 20px;
  color: white;
}

main .content button {
  padding: 15px;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: transform 0.2s ease, background 0.3s ease;
}

main .content button:hover {
  transform: translateY(-5px);
  color: black; 
}

main .content button.demo {
  background: #f06c00;
  color: white;
}

main .content button.contact {
  color: white;
  background: #151988;
  border: 1.5px solid white;
}

/* ---------------- SERVICES ---------------- */
#services {
  padding: 20px 100px;
  background-color: rgb(243, 243, 243);
  gap: 50px;
  text-align: center;
}

#services h2 {
  color: #000;
}

#services .card {
  grid-column: span 3;
}

#services .card .icon {
  background-color: #68d388;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  line-height: 1;
  color: white;
  margin: 0 auto;
}

/* ---------------- PROJECTS ---------------- */
#projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 30px;
  padding: 50px 100px;
  background-color: #fff;
  align-items: center;
}

#projects .map-preview {
  grid-column: 1 / span 6; 
  justify-self: center;
}

#projects .content {
  grid-column: 7 / span 6; 
}

#projects .content button {
  padding: 10px;
  background-color: #f06c00;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: transform 0.2s ease, background 0.3s ease;
}

#projects .content button:hover {
  transform: translateY(-2px)
}

/* ---------------- MISSION ---------------- */
#mission {
  padding: 30px 100px;
  text-align: center;
  border-top: 1px solid rgba(146, 146, 146, 0.2); 
}

#mission #top-head {
  text-transform: uppercase;
  padding: 10px;
  display: inline-block; /* inline -> inline-block for styling */
  color: #68d388;
  background-color: #e0fae84f;
  border-radius: 5px;
}

/* ---------------- TECH STACK ---------------- */
#tech-stack {
  padding: 5px 100px;
  margin-left: 200px;
  margin-right: 200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}

#tech-stack img {
  max-width: 100px;
}

#tech-stack img:nth-child(1) {
  max-width: 140px;
}

#tech-stack img:nth-child(4) {
  max-width: 60px;
}

#tech-stack img:nth-child(5) {
  max-width: 110px;
}

/* ---------------- FOOTER ---------------- */
footer {
  padding: 30px 200px;
  margin-top: 30px;
  background-color: #000470;
  color: white;
}

footer.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: 1px;
}

footer a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.671);
}

footer a:hover {
  color: rgb(255, 255, 255);
}

footer .contact {
  grid-column: 0 / span 3;
}

footer .contact h1 {
  text-transform: uppercase;
}

footer .contact img {
  max-width: 100px;
}

footer p {
  margin-top: 0;
  padding: 0;
}

footer .contact .footer-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; /* fixed */
  text-align: left;
  gap: 20px;
}

footer .products h1, .services h1, .company h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

footer .contact button {
  padding: 10px 15px;
  background-color: #000470;
  border: 2px solid #68d388; /* keep only this */
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #68d388; 
  transition: transform 0.2s ease, background 0.3s ease;
}

footer .contact button:hover {
  background-color: #68d388;
  color: white;
}

footer .products {
  grid-column: 4 / span 3;
  display: inline-block;
}

footer .services {
  grid-column: 7 / span 3;
  display: inline-block;
}

footer .company {
  grid-column: 10 / span 3;
}

.rights {
  padding: 20px;
  background-color: #000470;
  color: rgba(255, 255, 255, 0.671);
  grid-column: 1/ -1;
  grid-row: 2;
  text-align: center;
  letter-spacing: 3px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
